<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://activemq.apache.org/schema/core 
						http://activemq.apache.org/schema/core/activemq-core-5.6.0.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/jms 
						http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
						http://camel.apache.org/schema/spring
						http://camel.apache.org/schema/spring/camel-spring.xsd">

	<amq:connectionFactory id="connectionFactory"
		userName="${mq.username}" password="${mq.password}" brokerURL="${mq.brokerurl}" />


	<bean id="jmsComponent" class="org.apache.camel.component.jms.JmsComponent">
		<property name="connectionFactory">
			<ref bean="connectionFactory" />
		</property>
	</bean>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<constructor-arg ref="connectionFactory" />
	</bean>

</beans>
